@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");

body {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #76FF03;
  font-family: Roboto;
}
#header {
  padding-right: 25px;
  margin: 0px;
  height: 75px;
  width: 100%;
  background-color: #3D5AFE;
  color: #000;
  text-align: right;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
  font-family: Roboto;
}
#logo {
  z-index: 1000;
  color: #FFFF00;
  font-weight: bold;
  height: 90px;
  width: 90px;
  display: inline-block;
  background-color: #D500F9;
  border-radius: 80px;
  position: fixed;
}
#logo > p {
  padding: 8px;
  text-align: center;
  font-size: 24px;
  font-family: Roboto;
}

#content {
  backround-color: #311B92;
  padding-top: 75px;
  height: 1000px;
  font-family: Roboto;
}
.first-row{
  width: 27%;
  height: 100px;
  background-color: #EC407A;
  float:left;
  margin: 10px;
}
.second-row{
  width: 400px;
  height: 100px;
  background-color: #880E4F;
  float:left;
  margin: 10px;
}
#row3{
  display:grid ;
  float: left;
  padding: 20px
}
.third-row{
 
  width: 100px;
  height: 100px;
  background-color: #00897B;
  float: left;
  margin: 30px;
}
#footer{
  height:75px;
  border-top: solid 5px #004D40;
  font-family: Roboto;
  
}
#help{
  height 50pxl;
  width 75px;
  background-color:#FF1744;
  color: #304FFE;
  position: fixed;
  bottom: 5%;
  right:0px;
  padding: 4px;
}